@import url(general.css);

/* Sidebar */

.sidebar {
    width: 250px;
    position: fixed;
    top: 60px; /* Adjust according to your header height */
    left: 0;
    background-color: var(--colorSecundario);
    padding: 15px;
    height: 100%;
    overflow-y: auto;
}

.sidebar-link {
    display: block;
    color: white;
    padding: 10px 15px;
    margin-bottom: 10px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.sidebar-link:hover {
    background-color: var(--colorPrincipal);
    font-weight: bold;
}

/* Content */
.content {
    margin-left: 270px; /* Adjust according to sidebar width */
    padding: 20px;
}

/* Tables */
.table-striped tbody tr:nth-of-type(odd) {
    background-color: var(--colorNeutro);
}

.table-striped tbody tr:hover {
    background-color: var(--colorContraste);
}

/* Modals */
.modal-content {
    background-color: var(--colorNeutro);
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.modal-header {
    background-color: var(--colorSecundario);
    color: white;
    border-bottom: none;
}

.modal-body {
    padding: 20px;
}

.modal-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.modal-footer {
    border-top: none;
    padding-top: 20px;
}

.modal-footer .btn-secondary {
    background-color: var(--colorSecundario);
}

/* Collapse Sections */
.collapse.show {
    margin-bottom: 20px;
}

.collapse h2 {
    margin-bottom: 20px;
}

/* Buttons */
#newCourseBtn {
    margin-bottom: 20px;
}

/* Form Elements */
.form-label {
    font-weight: bold;
    color: var(--colorTexto);
}

.form-control {
    border: 1px solid var(--colorPrincipal);
    border-radius: 4px;
    padding: 10px;
}

.form-control:focus {
    border-color: var(--colorSecundario);
    box-shadow: 0 0 5px rgba(28, 131, 127, 0.5);
}

.form-select {
    border: 1px solid var(--colorPrincipal);
    border-radius: 4px;
    padding: 10px;
}

.form-select:focus {
    border-color: var(--colorSecundario);
    box-shadow: 0 0 5px rgba(28, 131, 127, 0.5);
}

/* Table Styling */
.table {
    border: 1px solid var(--colorContraste);
    background-color: var(--colorNeutro);
    border-radius: 8px;
}

.table thead th {
    background-color: var(--colorSecundario);
    color: white;
    text-align: left;
    padding: 10px;
}

.table tbody td {
    padding: 10px;
}

#filterForm .form-label {
    font-weight: bold;
    color: var(--colorTexto);
}

/* Courses Cards */