@import url(general.css);

h2{
    text-align: center;
    padding: 2rem;
}

p{
    text-align: justify;
}

/* About Section 

TODO: Alinear al centro el texto de Nuestra Historia / Nuestra Mision.. 

*/

/* Programas Academicos */

.program-card {
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: var(--colorContraste);
    box-shadow: 0px 1px 10px var(--colorSecundario);
    cursor: default;
    transition: all 600ms ease;
}

.program-card:hover{
    box-shadow: var(--colorSecundario);
    transform: translateY(-8%);
}

.program-card .content p {
    line-height: 1.5;
    color: #6a6a6a;
}

/* Contenedor de noticias */
#noticias-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
}

.card {
    margin: 15px;
    width: 18rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-img-top {
    width: 100%;
    height: auto;
}

.card-body {
    padding: 1rem;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.card-text {
    font-size: 1rem;
    color: #666;
}

.card-link {
    color: #007bff;
    text-decoration: none;
}

.card-link:hover {
    text-decoration: underline;
}
