@import url(general.css);

/* Login Form Container */
.login-form {
    background-color: var(--colorNeutro);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Form Heading */
.login-form h2 {
    font-size: var(--fontSizeH2);
    color: var(--colorSecundario);
    margin-bottom: 20px;
}

/* Form Fields */
.login-form .form-label {
    font-weight: bold;
    color: var(--colorTexto);
}

.login-form .form-control {
    border-radius: 4px;
    border: 1px solid var(--colorContraste);
    box-shadow: none;
}

/* Submit Button */
#btn_login {
    background-color: var(--colorSecundario);
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    transition: background-color 0.3s ease-in-out;
    width: 100%;
}

#btn_login:hover {
    background-color: var(--colorPrincipal);
}

/* Password Visibility Button */
#showPassword {
    margin-top: 10px;
    background-color: var(--colorPrincipal);
    border: none;
    padding: 6px 12px;
    color: white;
    border-radius: 4px;
}

#showPassword:hover {
    background-color: var(--colorSecundario);
}

/* Links */
.login-form a {
    color: var(--colorSecundario);
    text-decoration: none;
}

.login-form a:hover {
    color: var(--colorPrincipal);
    text-decoration: underline;
}

/* Additional Spacing */
.text-center.mt-3 p {
    margin-bottom: 0;
}

