@import url('general.css');

.header {
    padding: 20px;
    background-color: var(--colorContraste); 
    color: #fff; 
    text-align: center;
    border-radius: 8px; 
}

.header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.header p.lead {
    font-size: 1.25rem;
    margin: 0;
}

.card {
    width: 100%;
    margin: 20px;
    border-radius: 12px; 
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15); 
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.3); 
    transform: translateY(-10%);
}

.card .content p {
    line-height: 1.6; 
    color: #333; 
    padding: 15px; 
}

.card-body .btn {
    background-color: var(--colorPrincipal);
    color: #fff;
    border: none;
    border-radius: 6px; 
    padding: 0.75rem 1.25rem; 
    font-size: 1rem;
    transition: background-color 0.3s, transform 0.3s;
}

.card-body .btn:hover {
    background-color: var(--colorSecundario);
    transform: scale(1.05); 
}

.testimonios-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem; 
    justify-content: center;
    padding: 2rem; 
    background-color: #e0f7f4; 
    border-radius: 12px;
}

.testimonio-item {
    background: #fff; 
    border: 2px solid #1c837f; 
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    padding: 1.5rem; 
    max-width: 280px; 
    margin: 0.5rem; 
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
}

.testimonios-container .card img {
    width: 60px; 
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.testimonio-item:hover {
    transform: scale(1.03); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background: #f9f9f9; 
}

.testimonio-content h4 {
    color: #1c837f; 
    margin-bottom: 0.75rem;
    font-size: 1.1rem; 
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.testimonio-content p {
    color: #333;
    font-size: 0.9rem; 
    line-height: 1.4;
    margin-bottom: 1rem; 
}

.testimonio-content small {
    color: #9fd8e1; 
    font-style: italic;
    font-size: 0.75rem; 
}



