@import url('general.css');

.header {
    padding: 20px;
    background-color: var(--colorContraste); 
    color: #fff; 
    text-align: center;
    border-radius: 8px; 
}

.header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.header p.lead {
    font-size: 1.25rem;
    margin: 0;
}

/* Estilo de los elementos ya existentes */
.card {
    width: 100%;
    margin: 20px;
    border-radius: 12px; 
    overflow: hidden;
    background: var(--colorContraste);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15); 
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.3); 
    transform: translateY(-10%);
}

.card .content p {
    line-height: 1.6; 
    color: #333; 
    padding: 15px; 
}

.card-body .btn {
    background-color: var(--colorPrincipal);
    color: #fff;
    border: none;
    border-radius: 6px; 
    padding: 0.75rem 1.25rem; 
    font-size: 1rem;
    transition: background-color 0.3s, transform 0.3s;
}

.card-body .btn:hover {
    background-color: var(--colorSecundario);
    transform: scale(1.05); 
}

/* Contenedor general para los testimonios */
.testimonios-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem; /* Espacio entre testimonios */
    justify-content: center; /* Centra los testimonios */
}

/* Estilo para cada testimonio */
.testimonio-item {
    background-color: #DEEFE7; /* Fondo claro */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    padding: 1rem;
    max-width: 300px; /* Ancho máximo de cada testimonio */
    margin: 0.5rem; /* Margen alrededor de cada testimonio */
    text-align: center; /* Centra el texto */
}

/* Estilo para el contenido del testimonio */
.testimonio-content h4 {
    color: #1c837f; /* Color secundario para el título */
    margin-bottom: 0.5rem; /* Espacio debajo del título */
}

.testimonio-content p {
    color: #333; /* Color del texto */
    font-size: 0.9rem; /* Tamaño del texto */
}

.testimonio-content small {
    color: #9fd8e1; /* Color para la fecha */
}
